%table.table.table-striped.table-bordered.table-edit-service

  -# =============================================== Основные данные ===============================================

  %thead
    %tr
      %th{ colspan: 2 } Основные данные
  %tbody
    %tr
      %td
        %b Наименование сервиса
      %td{ "ng-bind": "preview.service.name" }
    %tr
      %td{ colspan: 2 }
        %b Краткое описание сервиса
    %tr
      %td{ colspan: 2, "ng-bind": "preview.service.descr" }
    %tr
      %td
        %b Приоритет функционирования
      %td{ "ng-bind": "preview.service.priority" }
    %tr{ "ng-show": "preview.service.deadline", "ng-class": "{ danger: preview.deadline }" }
      %td Срок тестирования
      %td{ "ng-bind": "preview.service.deadline" }
    %tr
      %td
        %b Режим гарантированной доступности
      %td{ "ng-bind": "preview.service.time_work" }
    %tr
      %td
        %b Максимальное время восстановления
      %td{ "ng-bind": "preview.service.max_time_rec" }
    %tr
      %td{ colspan: 2 }
        %b Ответственные за исполнение сервиса
    %tr
      %td Основной ответственный
      %td{ "ng-bind": "preview.contacts.first" }
    %tr
      %td Вторичный контакт
      %td{ "ng-bind": "preview.contacts.second" }
    %tr

    -# =============================================== Характеристики среды исполнения =============================

    %thead
      %tr
        %th{ colspan: 2 } Характеристики среды исполнения
    %tbody
      %tr
        %td{ colspan: 2 }
          %b Среда исполнения
      %tr
        %td{ colspan: 2, "ng-bind": "preview.service.environment" }
      %tr
        %td
          %b Операционная система
        %td{ "ng-bind": "preview.service.os" }
      %tr
        %td
          %b Ключевой программный компонент
        %td{ "ng-bind": "preview.service.component_key" }
      %tr
        %td{ colspan: 2 }
          %b Требования к вычислительным ресурсам
      %tr
        %td Количество ядер процессора
        %td{ "ng-bind": "preview.service.kernel_count" }
      %tr
        %td Тактовая частота процессора
        %td{ "ng-bind": "preview.service.frequency" }
      %tr
        %td Объем оперативной памяти
        %td{ "ng-bind": "preview.service.memory" }
      %tr
        %td Объем дискового пространства
        %td{ "ng-bind": "preview.service.disk_space" }
      %tr
        %td Скорость обмена с жестким диском
        %td{ "ng-bind": "preview.service.hdd_speed" }
      %tr
        %td Скорость сетевого соединения
        %td{ "ng-bind": "preview.service.network_speed" }
      %tr
        %td{ colspan: 2 }
          %b Дополнительные требования к среде исполнения
      %tr
        %td{ colspan: 2, "ng-bind": "preview.service.additional_require" }
      %tr

      -# =============================================== Резервное копирование и восстановление ====================

      %thead
        %tr
          %th{ colspan: 2 } Резервное копирование и восстановление
      %tbody
        %tr
          %td{ colspan: 2 }
            %b Краткое описание процедуры резервного копирования
        %tr
          %td{ colspan: 2, "ng-bind": "preview.service.backup_manual" }
        %tr
          %td{ colspan: 2 }
            %b Краткое описание процедуры восстановления данных
        %tr
          %td{ colspan: 2, "ng-bind": "preview.service.recovery_manual" }
        %tr
          %td{ colspan: 2 }
            %b Параметры резервного копирования
        %tr
          %td Оценка объемов данных для копирования
          %td{ "ng-bind": "preview.service.value_backup_data" }
        %tr
          %td Срок хранения старейшей копии
          %td{ "ng-bind": "preview.service.storage_time" }
        %tr
          %td Хранилище резервных копий
          %td{ "ng-bind": "preview.service.store_copies" }
        %tr
          %td Оценка объема резервной копии
          %td{ "ng-bind": "preview.service.backup_volume" }
        %tr
          %td Окно резервного копирования
          %td{ "ng-bind": "preview.service.backup_window" }
        %tr
          %td Время восстановления данных
          %td{ "ng-bind": "preview.service.time_recovery" }
        %tr

      -# =============================================== Отказоустойчивость ========================================

      %thead
        %tr
          %th{ colspan: 2 } Отказоустойчивость
      %tbody
        %tr
          %td{ colspan: 2 }
            %b Обеспечение надежности
        %tr
          %td Дублирование блоков питания
          %td{ "ng-bind": "preview.service.duplicate_ps" }
        %tr
          %td RAID-массив
          %td{ "ng-bind": "preview.service.raid" }
        %tr
          %td Агрегация сетевых портов
          %td{ "ng-bind": "preview.service.bonding" }
        %tr
          %td Другое
          %td{ "ng-bind": "preview.service.other" }
        %tr
          %td
            %b Обеспечение отказоустойчивости
          %td{ "ng-bind": "preview.service.resiliency" }
        %tr
          %td
            %b Время восстановления после отказа
          %td{ "ng-bind": "preview.service.time_after_failure" }
        %tr
          %td
            %b Обеспечение катастрофоустойчивости
          %td{ "ng-bind": "preview.service.disaster_rec" }
        %tr
          %td
            %b Время возобновления после катастрофы
          %td{ "ng-bind": "preview.service.time_after_disaster" }
        %tr

      -# =============================================== Подключение к сетям передачи и хранения данных ============

      %thead
        %tr
          %th{ colspan: 2 } Подключение к сетям передачи и хранения данных
      %tbody
        %tr{ "ng-repeat": "network in preview.networks" }
          %td
            %b{ "ng-bind": "network.name" }
          %td{ "ng-bind": "network.value" }
        %tr{ "ng-repeat": "storage in preview.storages" }
          %td
            %b{ "ng-bind": "storage.name" }
          %td{ "ng-bind": "storage.value" }
        %tr

      -# =============================================== Защита информации и разграничение доступа =================

      %thead
        %tr
          %th{ colspan: 2 } Защита информации и разграничение доступа
      %tbody
        %tr
          %td{ colspan: 2 }
            %b Меры обеспечения информационной безопасности
        %tr
          %td Антивирусные средства
          %td{ "ng-bind": "preview.service.antivirus" }
        %tr
          %td Межсетевое экранирование
          %td{ "ng-bind": "preview.service.firewall" }
        %tr
          %td UAC/AppArmor/SELinux
          %td{ "ng-bind": "preview.service.uac_app_selinux" }
        %tr
          %td Сертифицированные СЗИ НСД
          %td{ "ng-bind": "preview.service.szi" }
        %tr
          %td{ colspan: 2 }
            %b Разграничение доступа
        %tr
          %td Доступ в интернет
          %td{ "ng-bind": "preview.service.internet" }
        %tr
          %td Сетевые порты, доступные из ЛС
          %td{ "ng-bind": "preview.ports.local" }
        %tr
          %td
          %td
        %tr
          %td Сетевые порты, доступные из Интернет
          %td{ "ng-bind": "preview.ports.inet" }
        %tr
          %td
          %td
        %tr

      -# =============================================== Контрль функционирования сервиса ==========================

      %thead
        %tr
          %th{ colspan: 2 } Контроль функционирования сервиса
      %tbody
        %tr
          %td
            %b Метод мониторинга доступности сервиса
          %td{"ng-bind": "preview.service.type_mon" }
        %tr
          %td
            %b Мониторинг доступности сервиса
          %td{ "ng-bind": "preview.service.service_mon" }
        %tr
          %td
            %b Мониторинг работы аппаратных средств
          %td{ "ng-bind": "preview.service.hardware_mon" }
        %tr
          %td
            %b Мониторинг безопасности
          %td{ "ng-bind": "preview.service.security_mon" }
        %tr

      -# =============================================== Дополнительные данные =====================================

      %thead
        %tr
          %th{ colspan: 2 } Дополнительные данные
      %tbody
        %tr
          %td{ colspan: 2, "ng-bind": "preview.service.additional_data" }
        %tr

      %thead
        %tr
          %th{ colspan: 2 } Комментарий
      %tbody
        %tr
          %td{ colspan: 2, "ng-bind": "preview.service.comment" }
        %tr
          %td Имя в системе мониторинга
          %td{ "ng-bind": "preview.service.name_monitoring" }