= title "Просмотр сервисов"
.big-content{ "ng-controller": "ServiceIndexCtrl as servicePage" }
  .content-body
    %datatable-wrapper
      %table.table.center-header.table-hover.table-striped{ datatable: "", "dt-options": "servicePage.dtOptions", "dt-columns": "servicePage.dtColumns", "dt-instance": "servicePage.dtInstance" }

  = render partial: "preview"