= title "Просмотр сервисов"
.default-content
  .content-body
    - if can? :manage, Service
      = button_to "Добавить", new_service_path, method: :get, class: "btn btn-primary btn-block", form: { id: "add_service_form" }
    %table.table.table-hover.table-striped#serviceTable
      %thead
        %tr
          %th #
          %th
          %th Номер
          %th Имя
          %th Режим
          %th Отдел
          %th Ответственные
          %th Формуляр
          %th Акт ввода
          %th Инстр. восст.
          %th Инстр. выкл.
          %th

= render partial: "preview"
