.modal.fade#modal{ "tabindex": "-1", "role": "document", "aria-hidden": true }
  .modal-dialog
    .modal-content
      .modal-header
        - if can? :manage, ServerPart
          = link_to icon("fa fa-cog fa-fw"), "#", class: "pull-right default-color", title: "Редактировать", "data-id": "changeData"
        %h4.modal-title
      .modal-body
        %h4 Описание
        %table.table.table-striped
          %tbody
            %tr
              %td.col-md-3 Тип
              %td{ "data-id": "srvPartType" }
            %tr
              %td Номер
              %td{ "data-id": "srvPartNum" }

        %h4 Комментарий
        %div{ "data-id": "srvPartComment" } Отсутствует

      .modal-footer
        = button_tag "Закрыть", "data-dismiss": "modal"
