= title "Комплектующие"
.default-content{ "ng-controller": "ServerPartIndexCtrl as serverPartPage" }
  .content-body
    %datatable-wrapper
      %table.table.center-header.table-hover.table-striped{ datatable: "", "dt-options": "serverPartPage.dtOptions", "dt-columns": "serverPartPage.dtColumns", "dt-instance": "serverPartPage.dtInstance" }

  = render partial: "preview"