= title "Комплектующие"

.container
  .row
    .col-lg-8
      .well
        .content-body{ "ng-controller": "ServerPartIndexCtrl as serverPartPage" }
          %datatable-wrapper
            %table.table.center-header.table-hover.table-striped{ datatable: "", "dt-options": "serverPartPage.dtOptions", "dt-columns": "serverPartPage.dtColumns", "dt-instance": "serverPartPage.dtInstance", width: "100%" }

          = render partial: "preview"
          = render partial: "modal_form"

    .col-lg-4
      .well
        .content-body{ "ng-controller": "DetailTypeIndexCtrl as detailTypePage" }
          %datatable-wrapper
            %table.table.center-header.table-hover.table-striped{ datatable: "", "dt-options": "detailTypePage.dtOptions", "dt-columns": "detailTypePage.dtColumns", "dt-instance": "detailTypePage.dtInstance", width: "100%" }

          = render partial: "detail_types/modal_form"