= title "Комплектующие серверов"
.default-content
  .content-body
    = button_to "Добавить", new_server_part_path, method: :get, class: "btn btn-primary btn-block", form: { id: "add_server_part_form" }
    %table.table.table-hover#servPartTable
      %thead
        %tr
          %th.col-md-1 #
          %th Имя
          %th Тип
          %th.col-md-2 Номер
          %th.col-md-1

= render partial: "preview"