.modal.fade{ "tabindex": "-1", "role": "document", "aria-hidden": true, "ng-controller": "ClusterPreviewCtrl as |
preview", "modal-show": "preview.previewModal" } |
  .modal-dialog
    .modal-content
      .modal-header
        .pull-left
          %h4.modal-title{ "ng-bind": "preview.name" }
      .modal-body
        %h4 Описание
        %table.table.table-striped
          %tbody
            %tr
              %td.col-md-4 Использующие отделы
              %td
                %div{ "ng-bind": "preview.depts", "ng-show": "preview.depts" }
                %div{ "ng-hide": "preview.depts" } Отсутствуют
            %tr
              %td Список сервисов
              %td
                %div{ "ng-hide": "preview.services.length != 0" } Сервисы отсутствуют
                .row.no-margin-right{ "ng-hide": "preview.service.length == 0" }
                  %table.table.table-condensed
                    %tbody
                      %tr{ "ng-repeat": "service in preview.services", "ng-class": "{ 'success': service.name == |
                      preview.fromService }" } |
                        -#
                        %td= icon("fa fa-eye fa-1g pointer", "tooltip-placement": "top", "uib-tooltip": "Просмотреть |
                        формуляр сервиса", "ng-click": "preview.showService(service.id)") |
                        %td{ "ng-bind-html": "service.flag" }
                        %td.col-md-10{ "ng-bind": "service.name" }
                        %td.col-md-1{ "ng-bind": "service.dept" }

        %h4.ng-hide{ "ng-hide": "preview.presenceCount == 0" } Состав
        %h4.text-muted.ng-hide{ "ng-hide": "preview.presenceCount != 0" } Состав отсутствует
        %table.table.table-striped
          %tbody
            %tr{ "ng-repeat": "detail in preview.details" }
              %td.col-md-3{ "ng-bind": "detail.node_role.name" }
              %td{ "ng-bind": "detail.server.name" }

      .modal-footer
        = button_tag "Закрыть", "data-dismiss": "modal"