= title "Кластеры"
.medium-content
  .content-body
    = button_to "Добавить", new_cluster_path, method: :get, class: "btn btn-primary", form_class: "text-center"
    %table.table.table-hover.table-striped#clusterTable
      %thead
        %tr
          %th #
          %th.col-md-10 Имя
          %th

= render partial: "preview"
