.detail-types
  = simple_form_for [@detail_type] do |f|
    = f.input :name, label: "Наименование"
    = f.button :submit, "Готово", class: "btn-primary"
    = button_tag "Отмена", type: "submit", name: "cancel", value: true

