.medium-content
  = simple_form_for @node_role, url: url do |f|
    .content-body
      = f.input :name, label: "Наименование", autofocus: true

    .content-footer
      = f.button :submit, "Готово", class: "btn-success"
      = button_tag "Отмена", type: "submit", name: "cancel", value: true

