.medium-content
  = simple_form_for @node_role, url: url do |f|
    = f.input :name, label: "Наименование", autofocus: true
    = f.button :submit, "Готово", class: "btn-success"
    = button_tag "Отмена", type: "submit", name: "cancel", value: true

