.row
  .col-md-2.col-lg-2
    %table.table
      %tr
        %td Всего оборудования:
        %td X
      %tr
        %td в работе:
        %td X
      %tr
        %td в тесте:
        %td X
      %tr
        %td в простое:
        %td X
  .col-md-2.col-lg-2
    %table.table
      %tr
        %td По корпусам:
        %td
      %tr
        %td корпус 27:
        %td X
      %tr
        %td корпус 2:
        %td X
      %tr
        %td корпус 3:
        %td X
  .col-md-2.col-lg-2
    %table.table
      %tr
        %td Всего типов:
        %td x
  .col-md-2.col-lg-2
    %table.table
      %tr
        %td Доп инфа:
        %td x
  .col-md-2.col-lg-2
    %table.table
      %tr
        %td Доп инфа:
        %td x
  .col-md-2.col-lg-2
    %table.table
      %tr
        %td Доп инфа:
        %td x

  -#.col-lg-2
    %dl.dl-horizontal
      %dt Всего оборудования:
      %dd X
      %dt в работе:
      %dd X
      %dt в тесте:
      %dd X
      %dt в простое:
      %dd X
  -#.col-lg-2
    По корпусам:
    %ul
      %li 27&nbsp;-&nbsp;X
      %li 2&nbsp;-&nbsp;X
      %li 3&nbsp;-&nbsp;X
  -#.col-lg-2
    %dl.dl-horizontal
      %dt Всего типов:
      %dd X