.modal.fade{ "tabindex": "-1", "role": "document", "aria-hidden": true, "modal-show": "serverPage.previewModal" }
  .modal-dialog
    .modal-content{ "ng-controller": "ServerPreviewCtrl as preview" }
      .modal-header
        .pull-right
          - if can? :manage, Server
            = link_to icon("fa fa-cog fa-fw pointer"), "", class: "default-color", "ng-href": "/servers/{{ preview |
            .name }}/edit", "tooltip-placement": "left", "uib-tooltip": "Редактировать оборудование" |
        %h4.modal-title{ "ng-bind": "preview.name + ' (' + preview.status + ')'" }
      .modal-body
        %h4 Описание
        %table.table.table-striped
          %tbody
            %tr
              %td.col-md-4 Расположение
              %td{ "ng-bind": "preview.location" }
            %tr
              %td Тип сервера
              %td{ "ng-bind": "preview.type" }
            %tr
              %td Кластер/Сервер
              %td{ "ng-bind": "preview.cluster" }
            %tr
              %td Инвентарный номер
              %td{ "ng-bind": "preview.inventory_num" }
            %tr
              %td Серийный номер
              %td{ "ng-bind": "preview.serial_num" }
        .inline-block
          %h4.ng-hide{ "ng-hide": "preview.presenceCount == 0" } Состав
          %h4.text-muted.ng-hide{ "ng-hide": "preview.presenceCount != 0" } Состав отсутствует
          %table.table.table-striped
            %tbody
              %tr{ "ng-repeat": "detail in preview.details" }
                %td.col-md-3{ "ng-bind": "detail.type" }
                %td{ "ng-bind": "detail.name" }
                %td.col-md-1{ "ng-bind": "detail.count" }
      .modal-footer
        = button_tag "Закрыть", "data-dismiss": "modal"