= title "Просмотр серверов"
.default-content
  .content-body
    - if can? :manage, Server
      = button_to "Добавить", new_server_path, method: :get, class: "btn btn-primary btn-block", form: { id: "add_server_form" }

    %table.table.table-hover.table-striped#servTable
      %thead
        %tr
          %th.col-md-1 #
          %th Имя
          %th Тип
          %th.col-md-3 Расположение
          %th.col-md-1

= render partial: "preview"
