= title "Просмотр серверов"
.big-content
  - if can? :manage, Server
    = button_to "Добавить", new_server_path, method: :get, class: "btn btn-primary", form_class: "text-center"
  %table.table.table-hover.table-striped#servTable
    %thead
      %tr
        %th.col-md-1 #
        %th Имя
        %th.col-md-3 Расположение
        %th.col-md-1

= render partial: "preview"
