= title "Типы оборудования"
.medium-content
  .content-body
    - if can? :manage, ServerType
      = button_to "Добавить", new_server_type_path, method: :get, class: "btn btn-primary btn-block", form: { id: "add_server_type_form" }
    %table.table.table-hover.table-striped#servTypeTable
      %thead
        %tr
          %th.col-md-1 #
          %th Имя
          %th.col-md-1

= render partial: "preview"
