= title "Просмотр контактов"
.default-content{ "ng-controller": "ContactCtrl as contactPage" }
  .content-header
    .header-padding
      = render partial: "templates/service_contacts"

  .content-body
    %datatable-wrapper
      %table.center-header.table.table-striped{ datatable: "", "dt-options": "contactPage.dtOptions", "dt-columns": "contactPage.dtColumns", "dt-instance": "contactPage.dtInstance" }

  = render partial: "modal_form"