= title "Просмотр контактов"

.container{ "ng-controller": "ContactCtrl as contactPage" }
  .row
    .col-md-8.col-md-offset-2
      .well
        .content-header
          .header-padding
            = render partial: "templates/service_contacts"
        .content-body
          %datatable-wrapper
            %table.center-header.table.table-striped{ datatable: "", "dt-options": "contactPage.dtOptions", "dt-columns": "contactPage.dtColumns", "dt-instance": "contactPage.dtInstance", width: "100%" }

  = render partial: "modal_form"