/* ================================== Основной контент ================================== */
.main-content {
  width: 1024px;
  margin: 0 auto;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
  height: 100%;
  padding: 10px;
  border: 1px $table-border-color solid;
  /*border-radius: $border-radius-base;*/
}

/*input[type="submit"] { @extend .btn; }*/
button { @extend .btn, .btn-default; }
a.default-color { color: $btn-default-color !important; }

// Для отображения flash
.absolute {
  position: absolute;
  width: 100%;
}

/* ================================== Таблицы ========================================= */

.table {
  @extend .table;
  margin: 10px 0 !important;
}

.table-hover {
  @extend .table-hover;
  cursor: pointer;
}

.row-margin-bot {
  margin-bottom: 15px;
}

/* ================================== Модальное окно ================================== */

.modal-body {
  table + h4 { padding-top: 15px; }
}
