//$main-header-bg-color: #0050a0 // Цвет фона шапки
//$main-bg-color: #f8f8f8
$corp-color: #0050a0
$main-bg-color: white
$defatul-width: 1024px
$medium-width: 600px
$big-width: 1500px

.hide
  display: none

.bg-content
  margin-bottom: $line-height-computed

//.disabled
  background-color: $main-bg-color !important

/* ================================== Страницы входа на сайт ============================ */

.auth-header
  h2
    margin:
      top: 0
      left: 40px
      right: 40px
    line-height: 95px
    border-bottom: 1px $table-border-color solid
    text-align: center

.auth-content
  width: 300px
  margin: 200px auto 0

/* ================================== Основной контент ================================== */

body
  background-color: $main-bg-color

%template-content
  height: 100%
  margin: 0 auto
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
  border: 1px $table-border-color solid
  background-color: white

button
  @extend .btn, .btn-default

textarea
  resize: none

a.default-color
  color: $btn-default-color !important

// Для отображения flash сообщений
.absolute
  position: absolute
  z-index: 9999
  width: 100%

/* ================================== Размер контента =================================== */

.medium-content
  @extend %template-content
  width: $medium-width

.default-content
  @extend %template-content
  width: $defatul-width

.big-content
  @extend %template-content
  width: $big-width

/* ================================== Блоки контента ==================================== */

/* ================================== Вспомогательная шапка ============================= */

.content-header
  $bgDefault      : #f8f8f8
  $bgHighlight    : #e7e7e7
  $colDefault     : #333333
  $colHighlight   : #0050a0
  $dropDown       : true
  $borderRadius   : 4px

  .header-padding
    padding: 10px

  .navbar
    border-top-left-radius: $borderRadius !important
    border-top-right-radius: $borderRadius !important
    margin-bottom: 0 !important

  .divider-vertical
    height: 50px
    margin: 0 9px
    border-left: 1px solid #f2f2f2
    border-right: 1px solid #fff

  .navbar-default
    background-color: $bgDefault
    border-color: $bgHighlight
    width: (inherit - 2px)
    border:
      bottom: 1px solid $bgHighlight !important
      top: 0 !important
      left: 0 !important
      right: 0 !important

    .navbar-right
      margin-right: 0 !important

    .navbar-brand
      color: $colDefault

      &:hover, &:focus
        color: $colHighlight

    .navbar-text
      color: $colDefault
      margin:
        //left: 0 !important
        right: 0 !important

    .navbar-nav
      > li
        > a
          color: $colDefault

          &:hover, &:focus
            color: $colHighlight

        @if $dropDown
          > .dropdown-menu
            background-color: $bgDefault

            > li
              > label
                cursor: pointer

                &:hover, &:focus
                  color: $colHighlight

              > a
                color: $colDefault

                &:hover, &:focus
                  color: $colHighlight
                  background-color: $bgHighlight

              > .divider
                background-color: $bgHighlight

      @if $dropDown
        .open .dropdown-menu > .active
          > a, > a:hover, > a:focus
            color: $colHighlight
            background-color: $bgHighlight

      > .active
        > a, > a:hover, > a:focus
          color: $colHighlight
          background-color: $bgHighlight

      > .open
        > a, > a:hover, > a:focus
          color: $colHighlight
          background-color: $bgHighlight

    .navbar-toggle
      border-color: $bgHighlight

      &:hover, &:focus
        background-color: $bgHighlight

      .icon-bar
        background-color: $colDefault

    .navbar-collapse,
    .navbar-form
      border-color: $bgHighlight

      .form-group
        @extend .form-group
        width: inherit !important

        input
          @extend input
          width: inherit !important

    .navbar-collapse
    //padding: 0 !important

    .navbar-link
      color: $colDefault

      &:hover
        color: $colHighlight

  @media (max-width: 767px)
    .navbar-default .navbar-nav .open .dropdown-menu
      > li > a
        color: $colDefault

        &:hover, &:focus
          color: $colHighlight

      > .active
        > a, > a:hover, > a:focus
          color: $colHighlight
          background-color: $bgHighlight

  .dropdown
    label
      @extend a
      margin-bottom: 0 !important
      cursor: pointer
      font-weight: normal

      &:hover
        background-color: $bgHighlight !important

  /* ================================== Курсор для неактиных элементов ==================== */

  .disabled
    @extend .disabled

    a
      color: $gray-light !important

      &:hover
        background-color: $bgDefault !important

.content-body
  width: 100%
  padding: 20px
  display: inline-block

.content-footer
  text-align: center
  padding: 0 10px 10px 10px

/* ================================== Таблицы =========================================== */

.table
  @extend .table
  margin: 10px 0 !important

table.center-header
  th
    text-align: center

.table-hover
  @extend .table-hover
  cursor: pointer

.row-margin-bot
  margin-bottom: 15px

/* ================================== Фильтр таблиц ===================================== */

#data-table-filter
  display: inline-block
  float: left

  select
    width: 196px


/* ================================== Модальное окно ==================================== */

.modal-body
  table + h4
    padding-top: 15px

/* ================================== Шрифт для иконок внутри таблиц ==================== */

.font-internal
  font-size: 16px !important

/* ================================== Стиль для компонентов таблицы DataTables ========== */

.dataTables_wrapper
  .form-control
    width: 100% !important
    margin-left: 0 !important

  .dataTables_filter
    label
      width: 100% !important