.modal.fade{ "tabindex": "-1", "role": "document", "aria-hidden": true, "modal-show": "depHeadPage.headModal" }
  .modal-dialog
    .modal-content

      %form{ role: "form", "name": "depHeadPage.form", "data-method": "depHeadPage.config.method" }
        .modal-header
          %h4.modal-title.text-center{ "ng-bind": "depHeadPage.config.title" }

        .modal-body

          .form-group.required{ "ng-class": "depHeadPage.errorClass('department_head[tn]')" }
            = label_tag :department_head_tn , class: "control-label" do
              %abbr{ title: "required" } *
              %b Табельный номер
            = text_field_tag "department_head[tn]", "", class: "form-control", "ng-model": "depHeadPage.value.tn"
            %span.help-block{ "ng-show": "depHeadPage.form['department_head[tn]'].$invalid", "ng-bind": "depHeadPage |
            .errorMessage('department_head[tn]')" } |

        .modal-footer
          = button_tag "Готово", type: "button", class: "btn btn-success", "ng-click": "depHeadPage.readyHeadModal()"
          = button_tag "Отмена", type: "button", "ng-click": "depHeadPage.closeHeadModal()"