= title "Просмотр руководителей"

.default-content{ "ng-controller": "DepartmentHeadCtrl as depHeadPage" }
  .content-header
    .header-padding
      = render partial: "templates/service_contacts"

  .content-body
    %datatable-wrapper
      %table.center-header.table.table-striped{ datatable: "", "dt-options": "depHeadPage.dtOptions", "dt-columns": "depHeadPage.dtColumns", "dt-instance": "depHeadPage.dtInstance" }

  = render partial: "modal_form"