= title "Просмотр руководителей"

.container{ "ng-controller": "DepartmentHeadCtrl as depHeadPage" }
  .row
    .col-md-8.col-md-offset-2
      .well
        .content-header
          .header-padding
            = render partial: "templates/service_contacts"
        .content-body
          %datatable-wrapper
            %table.center-header.table.table-striped{ datatable: "", "dt-options": "depHeadPage.dtOptions",
            "dt-columns": "depHeadPage.dtColumns", "dt-instance": "depHeadPage.dtInstance", width: "100%" }

  = render partial: "modal_form"