.navbar.navbar-default
  .navbar-inner
    .container
      .navbar-brand
      .nav-collapse
        %ul.nav.navbar-nav
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
              Сервисы
              %b.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#" } Просмотр
              %li
                %a{ href: "#" } Добавить

          %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                Серверы
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: "#" } Состав
                %li
                  %a{ href: detail_types_path } Типы запчастей
                %li
                  %a{ href: "#" } Информация о серверах

          %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                ЗИП
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: "#" } файл
          %li.divider-vertical

