.navbar.navbar-default
  .navbar-inner
    .container
      .navbar-brand
        Logo
      .nav-collapse
        %ul.nav.navbar-nav
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
              Сервисы
              %b.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#" } Просмотр
              %li
                %a{ href: "#" } Добавить

          %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                Серверы
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: servers_path } Просмотр
                %li
                  %a{ href: server_parts_path } Комплектующие серверов
                %li
                  %a{ href: detail_types_path } Типы комплектующих
                %li
                  %a{ href: server_types_path } Типы серверов
                %li
                  %a{ href: clusters_path } Кластеры
          %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{ href: "#", "data-toggle": "dropdown" }
                ЗИП
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ href: "#" } файл
          %li.divider-vertical
          %p.navbar-text= yield(:title)

