.absolute{ "ng-controller": "AjaxLoadingCtrl as ajax" }
  .alert.alert-loading.text-center.ng-show.animate-show{ "ng-show": "ajax.requests.count != 0" }
    %i.fa-circle-o-notch
    -#  icon("fa fa-circle-o-notch fa-spin fa-3x fa-fw")
