.absolute{ "ng-controller": "AjaxLoadingCtrl as ajax" }
  .alert.alert-loading.text-center.ng-show.animate-show{ "ng-show": "ajax.requests.data.length != 0" }
    = icon("fa fa-spinner fa-spin fa-5x fa-fw")