.navbar.navbar-inverse{ role: "navigation-top" }
  .container
    .row
      .col-md-12
        .navbar-header
          = image_tag("Logo.png")
          Система учета оборудования и сервисов ЦОД

        .collapse.navbar-collapse
          .navbar-text.pull-right Необходимо авторизоваться